*{
	margin:0;
	padding:0;
}
dl, p, h1, h2, h3, h4, h5, h6, applet, embed, object, frameset{
	margin:0 0 14px;
}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	background:none;
	border:0;
}
body{
	background:#fff;
	color:#000;
	font: 10px Arial, Helvetica, sans-serif;
}
a{
	color:#00f;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
input,
textarea,
select{
	color:#000;
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
form,
fieldset{
	border-style:none;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6, b, strong, th{
	font-weight:bold;
}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{
	font-style:italic;
}
u,
ins{text-decoration:underline;}
s,
strike,del{text-decoration:line-through;}
q{quotes:none;}
q:before{content:'';}
q:after{content:'';}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse:collapse;
	border-spacing:0;
}
th, td{
	border:1px solid #ccc;
	padding:3px 7px;
	text-align:left;
	vertical-align:top;
}
th{
	border-color:#999;
	text-align:center;
	vertical-align:middle;
}
ul{
	list-style-type:disc;
	margin:0 0 0 10px;
	padding:0 0 15px 10px;
}
ol{
	margin:0 0 0 15px;
	padding:0 0 15px 10px;
}
ul li,
ol li{list-style-position:outside;}


.content{
	width: 960px;
	margin: 0 auto;
}

/* ICONS */

i.i-facebook{
	width: 26px;
    height: 26px;
    background-position: -75px -5px;
}

i.i-facebook:hover{
    background-position: -57px -41px;
}

i.i-twitter{
	width: 26px;
    height: 26px;
    background-position: -90px -77px;
}

i.i-twitter:hover{
    background-position: -130px -5px;
}

i.i-vkontakte{
	width: 26px;
    height: 26px;
    background-position: -129px -60px;
}

i.i-vkontekte:hover{
	background-position: -126px -96px;
}

i.i-odnoklassniki{
	width: 26px;
    height: 26px;
    background-position: -93px -41px;
}

i.i-odnoklassniki:hover{
	background-position: -5px -77px;
}

i.i-youtube{
	width: 26px;
    height: 26px;
    background-position: -5px -132px;
}

i.i-youtube:hover{
	background-position: -41px -132px;
}

.sprite {
    background-image: url('images/spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-arrow_left {
    width: 16px;
    height: 31px;
    background-position: -5px -5px;
}

.sprite-arrow_right {
    width: 16px;
    height: 31px;
    background-position: -31px -5px;
}

.sprite-comment_icon {
    width: 8px;
    height: 7px;
    background-position: -57px -5px;
    margin: 0 4px 0 0;
}

.sprite-load-more-arrow {
    width: 9px;
    height: 7px;
    background-position: -111px -5px;
}

.sprite-photo_icon {
    width: 14px;
    height: 10px;
    background-position: -41px -77px;
}

.sprite-video_icon {
    width: 13px;
    height: 9px;
    background-position: -129px -41px;
}

.sprite-view_icon {
    width: 8px;
    height: 6px;
    background-position: -152px -41px;
    margin: 0 4px 0 0;
}

.sprite-sidebar {
    background-image: url('images/sidebar_spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-sidebar_photo_icon {
    width: 14px;
    height: 11px;
    background-position: -5px -5px;
}

.sprite-sidebar_video_icon {
    width: 13px;
    height: 9px;
    background-position: -29px -5px;
}



.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

img.pull-left{
	margin: 0 15px 0 0;
}

.row{
	float: left;
	width: 100%;
}

/*HEADER*/
header.main{
	background: #17182f;
	padding: 15px 0 0 0;
	overflow: hidden;
}

header.main .logo{
	float: left;
	display: block;
}

header.main #search-form{
	float: left;
	margin: 64px 24px 0 0;
}

header.main #search-form input{
	float: left;
	height: 26px;
	line-height: 26px;
	width: 176px;
	box-sizing: border-box;
	border: none;
	background: #47465f;
	color: #fff;
	padding: 0 26px 0 10px;
	position: relative;
}

header.main #search-form .search{
	position: relative;
	display: block;
}

header.main #search-form .search:after{
	content: '';
	width: 15px;
    height: 16px;
    background-position: -65px -77px;
	background-image: url('images/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
    right: 6px;
    top: 6px;
    position: absolute;
}

header.main ul.socials{
	padding: 0;
	margin: 64px 0 0 0;
	display: block;
	float: left
}

header.main ul.socials li{
	display: inline-block;
}

header.main ul.socials li a{
	display: block;
}

header.main ul.menu{
	display: block;
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	float: left;
}

header.main ul.menu li{
	display: inline-block;
}

header.main ul.menu li a{
	height: 38px;
	line-height: 38px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #46455e;
	margin: 0 0 0 30px;
	display: block;
	box-sizing: border-box;
}

header.main ul.menu li:first-child a{
	margin: 0;
}

header.main ul.menu li a:hover{
	border-bottom: 4px solid #f0648c;
	color: #fff;
	text-decoration: none;
}

/* Section MAIN */

section.main{
	margin: 12px 0 0 0;
}

section.main .disqus{
	margin: 20px 0 0 0;
}

section.main h1{
	margin: 13px 0;
	text-transform: uppercase;
	color: #f0648c;
}
section.main .articles{
	width: 639px;
	float: left;
	border-right: 1px solid #9d9db4;
	margin: 0 12px 0 0;
	padding: 0 11px 0 0;
	box-sizing: border-box;
}

section.main .articles .top-news-block{
	width: 100%;
	float: left;
}

section.main .articles .top-news-block .slider{
	width: 402px;
	float: left;
}

section.main .articles .top-news-block .slider .flexslider{
	margin: 0;
}

section.main .articles .top-news-block .news{
	background: #ededef;
	float: left;
	width: 225px;
	height: 266px;
	display: block;
	box-sizing: border-box;
	padding: 15px;
	color: #46455e;
	font-size: 12px;
}

section.main .articles .top-news-block .news h2{
	margin: 0;
	font-size: 18px;
}

section.main .articles .top-news-block .news .info{
	margin: 8px 0 12px;
	padding: 0;
	list-style: none;
	color: #666766;
	font-size: 10px;
}

section.main .articles .top-news-block .news .info li{
	display: inline-block;
	margin: 0 11px 0 0;
}

section.main .articles .top-news-block .flex-control-nav{
	position: absolute;
	top: -30px;
	text-align: right;
	width: 629px;
	left: 0;
	font-size: 0;
}

section.main .articles .top-news-block .flex-control-nav li{
	margin: 0 4px;
}

section.main .articles .top-news-block .flex-control-nav li a{
	width: 8px;
	height: 8px;
	background: #46455e;
}

section.main .articles .top-news-block .flex-control-nav li a.flex-active{
	background: #f0557e;
}

section.main .articles .left-column{
	width: 315px;
	float: left;
	margin: 0 15px 0 0;
	padding: 0 15px 0 0;
	box-sizing: border-box;
}

section.main .articles .left-column article{
	width: 100%;
	float: left;
	color: #333333;
	font-size: 12px;
	box-sizing: border-box;
	padding: 0 0 0 40px;
	position: relative;
	margin: 0 0 17px 0;
}

section.main .articles .left-column article span.time{
	position: absolute;
	left: 0;
	color: #ff658d;
}

section.main .articles .left-column article b{
	color: #ff658d;
}

section.main .articles .left-column.bordered{
	border-right: 1px solid #9b9bb3;
}

section.main .articles .right-column{
	float: left;
	width: 290px;
}

section.main .articles .right-column article{
	float: left;
	width: 100%;
	font-size: 12px;
	box-sizing: border-box;
	margin: 0 0 19px 0;
}

section.main .articles .right-column article h2{
	color: #46455e;
	font-size: 16px;
}

section.main .articles .right-column article ul.info{
	margin: 8px 0 12px;
	padding: 0;
	list-style: none;
	color: #666766;
	font-size: 10px;
}

section.main .articles .right-column article ul.info li{
	display: inline-block;
	margin: 0 11px 0 0;
}

section.main .articles .right-column article img{
	float: left;
	margin: 0 13px 10px 0
}

section.main .articles .bottom-adsesnse{
	margin: 18px 0 0 0;
}

section.main .sidebar{
	float: left;
	width: 309px;
}

section.main .sidebar .slider-sidebar{
	float: left;
	width: 309px;
}

section.main .sidebar .slider-sidebar .flexslider-sidebar{
	width: 309px;
	float: left;
	position: relative
}

section.main .sidebar .slider-sidebar .flexslider-sidebar .flex-control-nav{
	position: absolute;
	top: -30px;
	text-align: right;
	font-size: 0;
}

section.main .sidebar .slider-sidebar .flexslider-sidebar .flex-control-nav li{
	margin: 0 4px;
}

section.main .sidebar .slider-sidebar .flexslider-sidebar .flex-control-nav li a{
	width: 8px;
	height: 8px;
	background: #46455e;
}

section.main .sidebar .slider-sidebar .flexslider-sidebar .flex-control-nav li a.flex-active{
	background: #f0557e;
}

section.main .sidebar .slider-sidebar .flexslider-sidebar ul.slides li{
	float: left;
}

section.main .sidebar .slider-sidebar .flexslider-sidebar ul.slides li figure{
	width: 309px;
	box-sizing: border-box;
	display: block;
	float: left;
}

section.main .sidebar .slider-sidebar .flexslider-sidebar ul.slides li figure img{
	float: left;
}

section.main .sidebar .slider-sidebar .flexslider-sidebar ul.slides li figure figcaption{
	width: 100%;
	background: #18182f;
	padding: 14px 40px 12px 40px;
	font-size: 18px;
	color: #45455d;
	font-weight: bold;
	box-sizing: border-box;
	float: left;
	position: relative;
}

section.main .sidebar .slider-sidebar .flexslider-sidebar ul.slides li figure figcaption .sprite-sidebar{
	position: absolute;
	left: 12px;
	top: 16px;
}

section.main .sidebar .slider-sidebar .flexslider-sidebar:hover .flex-prev { 
	opacity: 0.7; left: 10px; 
}

section.main .sidebar .slider-sidebar .flexslider-sidebar:hover .flex-next { 
	opacity: 0.7; right: 10px; 
}

section.main .sidebar .slider-sidebar .flexslider-sidebar:hover .flex-next:hover, 
section.main .sidebar .slider-sidebar .flexslider-sidebar:hover .flex-prev:hover { 
	opacity: 1; 
}

section.main .sidebar .tweet-placeholder{
	margin: 0 0 0 -8px
}

section.main .sidebar .facebook-placeholder{
	margin: 0 0 0 -4px
}

section.main .sidebar .vkontakte-placeholder{
	margin: 0 0 0 -5px
}

section.main article.short-news{
	float: left;
	font-size: 12px;
	border-bottom: 1px solid #9b9cb4;
	margin: 0 0 20px;
}

section.main ul.pagination{
	width: 100%;
	float: left;
	display: block;
	text-align: center;
	list-style: none;
}

section.main ul.pagination li{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
}

section.main ul.pagination li a{
	color: #666666;
	padding: 5px 10px;
}

section.main ul.pagination li a:hover{
	text-decoration: none;
	background: #f0648c;
	color: #fff;
}

section.main ul.pagination li a.active{
	background: #f0648c;
	color: #fff;
}

section.main article.short-news h2{
	margin: 0;
}

section.main article.short-news h2 a{
	color: #46455e;
}

section.main article.short-news .img-block{
	float: left;
	margin: 0 15px 15px 0;
}

section.main .info,
section.main article.short-news .info{
	margin: 0px 0 12px;
	padding: 0;
	list-style: none;
	color: #666766;
	font-size: 10px;
}


section.main .info li,
section.main article.short-news .info li{
	display: inline-block;
	margin: 0 11px 0 0;
}

footer.main{
	width: 100%;
	float: left;
	background: #18182f;
	padding: 27px 0 17px 0;
	color: #45455d;
	font-size: 11px;
	margin: 31px 0 0 0;
}

footer.main a{
	color: #45455d;
}

footer.main .left-column,
footer.main .right-column,
footer.main .middle-column{
	width: 33.333333333333%;
	float: left;
	box-sizing: border-box;
}

footer.main .left-column{
	padding: 0 50px 0 0;
}

footer.main .left-column .footer-logo{
	display: block;
	margin: 0 0 12px 0;
}

footer.main .middle-column ul{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	display: block;
}

footer.main .middle-column ul.subscription{
	margin: 0 67px 0 0;
}

footer.main .middle-column ul li b{
	color: #fff;
	margin: 0 0 18px 0;
	display: block;
}